.div {
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-size: 400;
  line-height: 14px;
  padding: 30px;
}

.label {
    width: 400px;
    min-height: 300px;
    border: 1px solid brown; 
    border-right: none;   
    padding: 5px;
}

.textarea {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-size: 400;
    line-height: 14px;
    resize: none;
    border: none;
    outline: none;
    padding: 0;

}

.text {
    width: 400px;
    min-height: 300px;
    border: 1px solid brown;
    padding: 5px;
    white-space: pre-line;
}

.red {
    color: red;
}